<% layout('layouts/boilerplate')%>
    <h1>Edit Camp</h1>
    <form action="/campgrounds/<%=foundCamp._id%>?_method=PUT" method="post">
        <div>
            <label for="title">Title</label>
            <input id="title" type="text" name="campground[title]" value="<%=foundCamp.title%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input id="location" type="text" name="campground[location]" value="<%=foundCamp.location%>">
        </div>
        <button>Update Camp</button>
    </form>
    <a href="/campgrounds/<%=foundCamp._id%>">Back to Campground</a>
