<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Camp</title>
</head>
<body>
    <h1>Edit Camp</h1>
    <form action="/campgrounds/<%=foundCamp._id%>?_method=PUT" method="post">
        <div>
            <label for="title">Title</label>
            <input id="title" type="text" name="campground[title]" value="<%=foundCamp.title%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input id="location" type="text" name="campground[location]" value="<%=foundCamp.location%>">
        </div>
        <button>Update Camp</button>
    </form>
    <a href="/campgrounds/<%=foundCamp._id%>">Back to Campground</a>
</body>
</html>